@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
  
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0, .my-0 {
  margin-top: 0 !important;
}

.mr-0, .mx-0 {
  margin-right: 0 !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.ml-0, .mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1, .my-1 {
  margin-top: 0.25rem !important;
}

.mr-1, .mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1, .my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1, .mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}

.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2, .mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3, .my-3 {
  margin-top: 1rem !important;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.ml-3, .mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.mr-4, .mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4, .mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

.mr-5, .mx-5 {
  margin-right: 3rem !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.ml-5, .mx-5 {
  margin-left: 3rem !important;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  color: var(--primaryColor);
  justify-content: center;
}

.logo>svg {
  fill: var(--primaryColor);
}

.text-disabled {
  color: var(--textColorSecondary) !important;
}

.sidebar {
  height: 100%;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0; 
  bottom: 0;
}

.dashboard-header {
  background-color: white;
}

.navbar {
  background-color: white;
  padding-left: 18rem;
}

.ant-menu-item>svg {
  vertical-align: sub;
  margin-right: 13px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white;
  border-right: 0;
}

#__next, .layout-wrapper, .app-container {
  height: 100%;
}

.logo {
  margin-top: 20px;
}

.logo, .drawer-logo {
  margin-bottom: 50px;
}

.sidebar-image-container {
  margin-left: 24px;
}

.sidebar-image-container, .drawer-sidebar-image-container {
  margin-bottom: 20px;
}

.sidebar-image-container, .sidebar-image-container>div, .drawer-sidebar-image-container>div {
  display: inline-block;
}

.sidebar-image-container>div, .drawer-sidebar-image-container>div {
  vertical-align: middle;
}

.sidebar-image-container>span:first-child, .drawer-sidebar-image-container>span:first-child {
  margin-right: 10px;
}

.sidebar-image-container>div>p, .drawer-sidebar-image-container>div>p {
  margin: 0;
}

.avatar-username {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #192A3E;
}

.avatar-email {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #90A0B7;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #334D6E;
}

.notification-icon {
  padding-top: 8px;
}

.menu {
  display: none;
}

.ant-layout-content {
  background: #F5F6F8;
  color: none;
  padding: 25px 1.5rem 25px 21.65rem;
}

.line {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  border-top: 1px solid #f0f0f0;
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
}

/*SAVINGS*/

.fw-normal, .fw-600, .fw-500 {
  font-family: Poppins;
  font-style: normal;
}

.fw-normal {
  font-weight: normal;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.savings-info {
  margin: 0;
  padding: 0;
}

.savings-info--amount {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.01em;
  color: #323C47;
  margin: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

.savings-info--text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.savings-info--text__amount {
  color: #E6CB0D;
  font-weight: 600;
}

.savings-info--header {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #323C47;
}

.topup-text {
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #E60D0D;
}

.add-money-text {
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #323C47;
  max-width: 15em;
}

.account-info {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334D6E;
  margin-bottom: 30px
}

.account-info--text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334D6E;
}

.btn-save-money {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 25px;
}

.tablet-and-mobile-only {
  display: none;
}
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

.ant-table-thead th {
  text-align: left !important;
  font-family: Poppins !important;
  background: none !important;
  /* border: solid 1px red !important */
  border-bottom: solid 3px #F0F0F0 !important;
  border-top: none;
  color: #9FA2B4 !important;
}

.ant-table-thead th:first-child {
  padding-left: 30px !important;
}

.ant-table-body {
  overflow-x: hidden!important;
  overflow-y: auto !important;
}

.ant-table-tbody>tr>td {
  font-family: Poppins !important;
}

.ant-table-tbody>tr>td:nth-child(2) {
  font-weight: 600 !important;
}

.card-button {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: center;
}

.card-header {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;  
}

.newplan-btn {
  background: rgba(142, 143, 142, 0.62);
  border-radius: 4px;
  color: #fff;
}

.card-container .ant-card-body {
  padding-bottom: 0;
}

.savings-plan-list {
  background-color: white;
  padding: 0 10px;
}

@media only screen and (max-width: 992px) {
  .nav-items-container {
    display: flex;
    justify-content: space-between;
  }
  .ant-layout-content {
    padding: 25px 50px;
    height: 100%;
  }
  .navbar {
    padding-left: 0;
  }
  .tablet-and-mobile-only {
    display: block;
  }
  .menu {
    display: inline-block;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .mobile-only {
    display: block;
  }
  .card-container .ant-card-body {
    padding-bottom: 24px;
  }
  .desktop-only {
    display: none;
  }
  .savings-card {
    margin-bottom: 24px;
  }
  .savings-card-other .ant-card-body {
    padding: 24px 0;
  }
  .topup-text {
    font-size: 18px;
    line-height: 27px;
  }
  .add-money-text {
    font-size: 13px;
    line-height: 19px;
  }
  .account-info {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #334D6E;
    margin-bottom: 25px;
  }
  .btn-save-money {
    font-size: 12px;
    line-height: 18px;
    padding: 8px;
  }
  .savings-info--header {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
  .savings-info--amount {
    font-size: 28px;
    line-height: 42px;
    padding-top: 12px;
    padding-bottom: px;
  }
  .savings-info--text {
    font-size: 12px;
    line-height: 18px;  
  }
  .list_item span:first-child {
    text-transform: capitalize;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
  }

  .list_item span:last-child {
    text-transform: capitalize;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #334D6E;
  }

  .list-container:nth-of-type(even) {
    background-color: #fff;
  }
  .list-container:nth-of-type(odd) {
    background-color: #F5F6F8;
  }

  .list_item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    flex-wrap: wrap;
  }

  .ant-list-bordered.ant-list-sm  .ant-list-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  .ant-radio-button-wrapper {
    padding: 0 10px;
  }

  .form-input {
    width: 100% !important;
    flex-wrap: wrap !important;
    margin: 0 auto !important;
  }

  .form-input > .input {
    width: 270px !important;
    height: 40px !important;
  }

  .settings-div {
    /* background-color: red !important; */
    width: 317px !important;
    height: 706px !important;
  }
  .delete-p {
    width: 100%;
  }
  .profile-action {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .profile-div {
    flex-wrap: wrap !important;
  }
  .input {
    width: 270px !important;
  }

  .settings-2-div {
    width: 317px !important;
    flex-wrap: wrap !important;
  }

  .password-div {
    width: 100% !important;
    margin: 0 0 20px 0 !important;
  }

  .notifications-div {
    width: 100% !important;
    margin: 20px 0 0 0 !important;
  }
  .login-page {
    margin-top: 30%;
  }
  .signup-div {
    margin-top: 30%;
  }

  .signup-page {
    margin-top: 8%;
  }

  /* loans mobile */

  .cards-div {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .loan-card-1 {
    min-width: 45% !important;
    max-width: 45% !important;
    height: 179px !important;
    margin: 0 10px 0 0 !important;
    box-sizing: content-box !important;
    line-height: 2;
  }

  .loan-card-p-1 {
    /* width: 90% !important; */
    font-size: 15px !important;
    font-weight: 500 !important;
  }

  .loan-card-2 {
    min-width: 45% !important;
    max-width: 45% !important;
    height: 179px !important;
    box-sizing: border-box !important;
    margin-left: 0 0 0 5px !important;
  }

  .loan-card-p {
    font-weight: 500 !important;
  }

  .loan-card-h1 {
    font-size: 15px !important;
    width: 100% !important;
    font-weight: 500 !important;
  }

  .loan-card-2-btn {
    width: 121px !important;
    height: 36px !important;
    margin: 8px 0 0 0 !important;
    font-size: 12px !important;
    padding: 0 !important;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
}

.logo {
  padding: 20px 0;
}

.welcome-back {
  font-size: 19px;
  color: #192A3E;
}

.form-div {
  padding: 20px 0;
}

.forms {
  display: flex;
  flex-direction: column;
}

.input-div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.submit:hover {
  background: #fff !important;
  color: #109CF1 !important;
  border: 1px solid #109CF1 !important;
}


.txt {
  font-size: 13px;
  padding: 20px;
  letter-spacing: 0.06em;
}

.txt>a {
  color: red;
  text-decoration: none;
}

.signup-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
}

a {
  text-decoration: none;
  color: #fff;
  /* font-size: 24px; */
}

.div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #109CF1;
  color: #fff;
  border-radius: 10px;
  height: 63px;
  padding: 10px;
  outline: none;
  width: 301px;
  margin: 10px 0;
}

.div:hover {
  background: rgb(88, 177, 233);
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.custom-select {
  width: 301px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.custom-select>select {
  border: 1px solid #000;
  background: #fff;
  border-radius: 5px;
  height: 2.9rem;
  padding: 5px;
  outline: none;
  width: 301px;
}

.re-input {
  display: flex;
  flex-direction: column;
  padding: 0;
}
